@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #b4b4b4;
  color: #f6fa07;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.margin-center {
  margin-right: auto;
  margin-left: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
